.addTaskButton {
    background-color: #1a7e9a;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 56px;
    font-weight: bold;
    color: #FAFAFA;
    height: 64px;
    width: 64px;
    position: absolute;
    transform: scale(100%);
    transition: .3s ease;
    left: 0;
    top: 20px;
    z-index: 1;
  }
  
  .addTaskButton:hover {
    transform: scale(120%);
    background-color: #339fbd;
  }