.app{
    max-width: 800px;
    margin: auto;
}
.loading{
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.error{
    font-size: 1rem;
    text-align: center;
    margin: 0;
    padding: 1rem;
    color: red;
}